/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

/* Particles background */
#tsparticles {
  position: fixed;   /* stay fixed while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;       /* keep behind UI */
}

.blog{
    text-align: center;
    padding: 10rem;
    color: white;
}