.form-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    background-color: #d4cdcd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 430px;
    margin: 1.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;

}

form input,form textarea{
    padding: 1rem 1.5rem;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.7rem;
    border: none;
}


form button{
  border: none;
  outline: none;
  background-color: #f89e9e;
  padding: 0.7rem 1.5rem;
  margin:1rem 0;
  cursor: pointer;
  font-size: large;
}

form button:hover{
transform: scale(1.1);
}