/* Orders.css */
.title{
  text-align: center;
}
.orders-container {
  padding: 2rem;
  background: #f9fafb;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.orders-container h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #1f2937;
}

/* Filters */
.filters {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.filters label {
  font-weight: 500;
  color: #374151;
}

.filters select {
  padding: 0.4rem 0.7rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 0.95rem;
  background: #fff;
  transition: all 0.2s ease-in-out;
}

.filters select:hover {
  border-color: #2563eb;
}

/* Table */
.orders-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.orders-table th,
.orders-table td {
  padding: 0.9rem 1rem;
  text-align: left;
  font-size: 0.95rem;
}


td img{
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.orders-table th {
  background: #f3f4f6;
  font-weight: 600;
  color: #374151;
}

.orders-table tr:nth-child(even) {
  background: #fafafa;
}

.orders-table tr:hover {
  background: #f1f5f9;
}

.no-orders {
  text-align: center;
  padding: 2rem;
  color: #6b7280;
  font-style: italic;
}

/* Status Badges */
.status,.payment {
  padding: 0.25rem 0.65rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
  color: black;
}

.payment.unpaid{
    background: #fff7ed;
    color: #ff7139;
}

.status.pending ,.payment.Pending {
  background: #fff7ed;
  color: #c7400a;
}

.status.processing ,.payment.Refunded{
  background: #eff6ff;
  color: #1d4ed8;
}

.status.shipped {
  background: #ecfdf5;
  color: #047857;
}

.status.delivered,.payment.Paid {
  background: #f0fdf4;
  color: #166534;
}

.status.cancelled ,.payment.Failed{
  background: #fef2f2;
  color: #b91c1c;
}


.status-dropdown{
  display: flex;
  justify-content: space-between;
}

/* Buttons */
.view-btn {
  padding: 0.4rem 0.9rem;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.view-btn:hover {
  background: #1e40af;
}


